@inject AuthenticationStateProvider authStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="author/index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Authors
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="genre/index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Genres
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="book/index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Books
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="readingCard/index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Reading Cards
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,User">
            <Authorized>
                 <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/myreadingcard/details">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My Reading Card
                        @*seeing a list with all the books -> buttons add and remove(max 3)*@
                    </NavLink>
                </div> 
                @*add "contacts"*@
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users                        
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    AuthenticationState authState;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        authState = await authStateProvider.GetAuthenticationStateAsync();
    }
}
